.header__auth-link {
  font-family: Inter;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  transition: opacity ease .5s;
}

.header__auth-link:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .header__auth-link {
    font-size: 18px;
    line-height: 22px;
  }
}