.popup__heading {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  color: #000;
  margin: 0;
}

@media screen and (min-width: 918px)
{
  .popup__heading {
    font-size: 24px;
    line-height: 1.2;
  }
}